.form-control{
  /*
  The padding ruins Firefox arrows for number so remove padding right to fix it.
  */
  padding-right: 0rem;
}
.win, .loss, .revision {
  box-sizing: border-box;
  display: inline-block;
  width: 100%
}

.no-padding-side {
  padding-left:  0px !important;
  padding-right: 0px !important;
}

.no-border {
  border: none;
}
